.btn {
    font-family: var(--base-font-family);
    font-size: 15px;
    line-height: 26px;
    position: relative;
    color: var(--color-black);
    padding: 7px 24px;
    border: none;
    border-radius: var(--radius-default);
    transition: var(--transition-150);

    &:focus {
        box-shadow: none !important;
        outline: 0;
    }
}

.btn-primary {
    font-weight: var(--font-medium);
    color: var(--color-white);
    background: var(--color-primary);

    &:focus {
        background: var(--color-primary);
    }

    &:active,
    &:hover,
    &:active:focus {
        background: var(--color-primary-hover);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background: var(--color-primary-hover);
    }

    &:disabled,
    &.disabled,
    &[disabled] {
        background: var(--color-primary);

        &:active,
        &:hover,
        &:focus,
        &:hover:focus {
            background: var(--color-primary);
        }
    }
}

.btn-default {
    font-weight: var(--font-medium);
    padding: 6px 24px;
    background: transparent;
    border: 1px solid var(--color-primary);
    font-size: 14px;

    &:active,
    &:hover,
    &:active:focus {
        color: var(--color-white);

        background: var(--color-primary);
    }

    &.disabled,
    &[disabled] {
        &:active,
        &:hover,
        &:focus,
        &:hover:focus {
            color: var(--color-black);
            background: transparent !important;

            &.btn-loading {
                &:after {
                    border-color: var(--color-primary);
                }
            }
        }
    }

    &.btn-loading {
        &:after {
            border-color: var(--color-primary);
        }

        &:active,
        &:hover,
        &:focus,
        &:hover:focus {
            &:after {
                border-color: var(--color-white);
            }
        }
    }
}

.btn-lg {
    margin-top: 5px;
    padding: 7px 30px;
    font-size: 14px;
}

.btn-remove {
    font-size: 15px;
    color: var(--color-black);
    background: transparent;
    border: none;
    transition: var(--transition-150);

    &:hover {
        color: var(--color-primary);
    }
}
@media (max-width: 768px) {
    .fb_dialog {
        right: 15px !important;
        bottom: 15px !important;
    }
}

.btn-whatsapp {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;

    border-radius: 4px;
    background: #25D366;
    color: white;
    margin-left: 10rem;
    transition: all 0.3s ease;
    
    &:hover {
        background: darken(#25D366, 10%);
        color: white;
        transform: translateY(-2px);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    i {
        font-size: 1.2em;
        margin-right: 5px;
    }
}